<h1>DJ's Sample HTML - index.html</h1>

<p>This code is an example of how HTML is written.</p>

<p>It uses HTML tags to structure the text.</p>

<p>It uses HTML to add a <a href="http://digitalocean.com/community">link</a>.</p>

<p>It uses HTML to add a local <a href="index2.html">link</a>.</p>

<p>And it also uses HTML to add an image:</p>

<img src="https://html.sammy-codes.com/images/small-profile.jpeg"/>
